---
layout: default
---

<section class="bio-intro">
  {{ content }}
</section>

<section class="topics-section">
  <p><a href="{{ '/topics/' | relative_url }}" class="section-title-link">Topics</a></p>
  <div class="topics-cloud">
    {% assign raw_topics = "" | split: "" %}
    {% for post in site.posts %}
      {% if post.topics %}
        {% for topic in post.topics %}
          {% assign raw_topics = raw_topics | push: topic %}
        {% endfor %}
      {% endif %}
    {% endfor %}
    {% assign sorted_topics = raw_topics | uniq | sort %}
    {% for topic in sorted_topics %}
      <a href="{{ '/topics/' | append: topic | append: '/' | relative_url }}" class="topic-link">{{ topic }}</a>{% unless forloop.last %}<span class="muted">, </span>{% endunless %}
    {% endfor %}
  </div>
</section>

<section class="writing-section">
  <h2>Writing</h2>
  <ul class="post-list">
    {% for post in site.posts %}
      <li class="post-item">
        <span class="post-date">{{ post.date | date: "%Y-%m-%d" }}</span>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</section>
