---
layout: default
---

<div class="topic-header">
  <h1 class="topic-title-breadcrumb"><a href="{{ '/topics/' | relative_url }}" class="topic-parent-link">Topics</a> / {{ page.topic_title }}</h1>
  {% assign matching_posts = "" | split: "" %}
  {% for post in site.posts %}
    {% if post.topics contains page.topic_title %}
      {% assign matching_posts = matching_posts | push: post %}
    {% endif %}
  {% endfor %}
  <p class="topic-count">{{ matching_posts.size }} {% if matching_posts.size == 1 %}entry{% else %}entries{% endif %} about this topic</p>
</div>

<ul class="post-list">
  {% for post in matching_posts %}
    <li class="post-item">
      <span class="post-date">{{ post.date | date: "%Y &middot; %m" }}</span>
      <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>
